# Virtual Environment
venv/
.venv/

# Environment files
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite
*.db
*.sqlite3

# VSCode
.vscode/

# Logs
*.log

# Build
dist/
build/

# Models
backend/model_assets/*.onnx

# OS
.DS_Store
Thumbs.db